
@{
    ViewBag.Title = "Index";
}

<h4>
    <p>@Html.ActionLink("Sign Up", "SignUpDoctor")</p>
    <p>@Html.ActionLink("Sign In", "SignIn")</p>
    <p>@Html.ActionLink("View All Doctors", "ViewAllDoctors")</p>
</h4>


